<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cryptocurrency_simulator.Ccms_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <cryptocurrency_simulator.Ccms_settings>
            <setting name="cash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="currentmachine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hashrate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="currentpool" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mining" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shares" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="coins" serializeAs="String">
                <value>0</value>
            </setting>
        </cryptocurrency_simulator.Ccms_settings>
    </userSettings>
</configuration>